<div class="sidebar" data-color="purple" data-background-color="danger" data-image="{{ asset('assets/panel/img/sidebar-1.jpg') }}">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="{{ path('home') }}" class="simple-text logo-normal">
            Mojtaba Rakhisi
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="{{ path('panel') }}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">
                    <i class="material-icons">content_paste</i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">
                    <i class="material-icons">library_books</i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('panel.get.skills') }}">
                    <i class="material-icons">fitness_center</i>
                    <p class="d-inline pull-left">skills</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">
                    <i class="material-icons">content_paste</i>
                    <p>Portfolio</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">
                    <i class="material-icons">perm_identity</i>
                    <p>about</p>
                </a>
            </li>
            {#<li class="nav-item active-pro ">#}
                  {#<a class="nav-link" href="./upgrade.html">#}
                      {#<i class="material-icons">unarchive</i>#}
                      {#<p>Upgrade to PRO</p>#}
                  {#</a>#}
            {#</li>#}
        </ul>
    </div>
</div>