.content {
  position: absolute;
  top: 11%;
  bottom: 11%;
  left: 5%;
  right: 5%; }
  .content .header {
    position: absolute;
    font-size: 2em;
    z-index: -5;
    margin-left: 5%;
    margin-top: 2%; }
  .content .description {
    position: absolute;
    width: 50%;
    margin-left: 10%;
    margin-top: 20%; }
    .content .description .read-more {
      width: 20%;
      cursor: pointer;
      margin-top: 10%; }
      .content .description .read-more .read-more-p {
        z-index: 9999;
        width: 14%;
        padding-bottom: 1.5%;
        max-width: inherit;
        border-bottom: 2px solid black; }
  .content .picture {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: -1;
    width: 30%; }
    .content .picture img {
      opacity: .6;
      width: 350px; }
