{% extends 'panel/layouts/master.html.twig' %}

{% block content %}

    <form action="{{ path('panel.update.skills' , {"id" : skill.id}) }}" method="post">
        <input type="hidden" name="_method" value="PUT">

        {% include('panel/skills/form.html.twig') %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}