$color-white            : #fff;
$color-white-eee        : #eeeeee;
$color-cotint           : #319963;
$color-black            : #656565;
$color-orange           : #f7941d;
$color-green            : #90c23a;
$color-text             : #b8b8b8;
$color-gray             : #ccc;
$color-footer           : #242626;
$color-green-cotint     : #239963;

