html, body {
  height: 100%;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.visitor-position {
	position: fixed;
	top: 30px;
	right: 40px;
	float: right;
}
.arrow-down {
  z-index: -1;
	position: fixed;
	bottom: 8%;
	left: 10%;
}
.content {
  // border: 1px solid black;
  position: absolute;
  z-index: -1;
  top: 11%;
  bottom: 11%;
  left: 5%;
  right: 5%;
	.header {
        position: absolute;
		font-size: 2em;
      z-index: -5;
		margin-left: 5%;
		margin-top: 2%;
	}
	.description {
        position: absolute;
		width: 50%;
		margin-left: 10%;
		margin-top: 20%;
		.read-more {
			width: 20%;
			cursor: pointer;
			.read-more-p {
				//width: 14%;
				//padding-bottom: 1.5%;
				//max-width: inherit;
				//border-bottom: 2px solid black;
			}
			margin-top: 10%;

		}
	}
	.picture {
		position: absolute;
		top: 10%;
		left: 40%;
		z-index: -1;
		width: 30%;
		img{
			opacity: .6;
			width: 350px;
		}
	}

}
