html, body {
  height: 100%;
}

.tilt-js {
	transform-style: preserve-3d
}

.tilt-js-inner {
	transform: translateZ(70px)
}

a {
  color: black;
  &:hover {
    text-decoration: none;
	  color: black;
  }
}

.scroll-position {
	position: fixed;
	top: 40%;
	right: 2%;
	direction: rtl;
	.scroll-pos-current {
		display: block;
		margin: 20%;
		background-color: #b3b3b3;
		min-width: 50px;
		min-height: 2px ;
	}
	.active-current {
		background-color: black;
		min-width: 80px;
		min-height: 2px ;
	}
}

.visitor-position {
	position: fixed;
	top: 30px;
	right: 40px;
	float: right;
}
.arrow-down {
  	z-index: 1;
	position: fixed;
	bottom: 8%;
	right: 2.5%;
	font-size: 2em;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	&:hover {
		background-color: #00A6C7;
		color: white;
	}
	i {
		position: absolute;
		top: 20%;
		left: 20%;
	}
}
.content {
  // border: 1px solid black;
  position: absolute;
  top: 11%;
  bottom: 11%;
  left: 5%;
  right: 5%;
	.header {
        position: absolute;
		font-size: 2em;
      z-index: -5;
		margin-left: 5%;
		margin-top: 2%;
	}
	.description {
        position: absolute;
		width: 50%;
		margin-left: 10%;
		margin-top: 20%;
		.read-more {
			width: 20%;
			cursor: pointer;
			.read-more-p {
				z-index: 9999;
				width: 14%;
				padding-bottom: 1.5%;
				max-width: inherit;
				border-bottom: 2px solid black;
			}
			margin-top: 10%;

		}
	}
	.picture {
		position: absolute;
		top: 20%;
		left: 40%;
		z-index: -1;
		width: 30%;
		img{
			opacity: .6;
			width: 350px;
		}
	}

}
