.skill-item {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 200px;
  position: relative;
  margin: 20% 0;
  border: solid 1px black;
  -webkit-border-radius: 50% / 10%;
  border-radius: 50% / 10%;
  text-align: center;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.75);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.75);
  }

  .skill-logo {
    position: absolute;
    top: 20%;

    .skill-tiny-logo {
      width: 85%;
    }
  }

  .skill-title {
    position: absolute;
    top: 70%;
    left: -23%;
    background-color: black;
    color: white;
    width: 150%;
    height: 120%;
    padding-top: 5%;
    transition-duration:0.7s;
    -webkit-transition-duration:0.7s;

    .skill-level {
      padding: 15% 20%;
    }

    &:hover {
      transform:translateY(-140px);
      -ms-transform:translateY(-140px); /* prefix for IE 9 */
      -webkit-transform:translateY(-140px); /* prefix for Safari and Chrome */
    }
  }

  &::before {
    -webkit-border-radius: 5% / 50%;
    border-radius: 5% / 50%;
  }
}
.skill-description {
  padding: 5%;
  width: 70%;
  height: 80%;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left:15%;
  background: black;
  color: white;

  .fa-window-close {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2em;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}
