@import "compass/css3";

.old-tv-screen {
  @include box-sizing(content-box);
  width: 100px;
  height: 150px;
  position: relative;
  margin: 20px 0;
  border: none;
  @include border-radius(50% / 10%);
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-indent: 0.1em;
  -o-text-overflow: clip;
  text-overflow: clip;
  @include background(#1abc9c);
}


.old-tv-screen::before {
  @include box-sizing(content-box);
  position: absolute;
  content: "";
  top: 10%;
  right: -5%;
  bottom: 10%;
  left: -5%;
  border: none;
  @include border-radius(5% / 50%);
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  @include background(#1abc9c);
  @include text-shadow(none);
}
