html, body {
  height: 100%;
	overflow: hidden;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
	  color: black;
  }
}

.title {
	font-family: BTitrTGEBold, Arial, Helvetica, sans-serif !important;
}

.text {
	font-family: BVahidBold, Arial, Helvetica, sans-serif !important;
}

.visitor-position {
	position: fixed;
	top: 30px;
	right: 40px;
	float: right;
}
.arrow-down {
  	z-index: 1;
	position: fixed;
	bottom: 8%;
	right: 2.5%;
	font-size: 2em;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	&:hover {
		background-color: #413ea2;
		color: white;
	}
	i {
		position: absolute;
		top: 20%;
		left: 20%;
	}
}

