@font-face {
  font-family: 'BTitrTGEBold';
  src: url('../../fonts/BTitrGEBold/BTitrTGEBold.eot?#') format('eot'),  /* IE6–8 */
  url('../../fonts/BTitrGEBold/BTitrTGEBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../fonts/BTitrGEBold/BTitrTGEBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BVahidBold';
  src: url('../../fonts/BVahidBold/BVahidBold.eot?#') format('eot'),  /* IE6–8 */
  url('../../fonts/BVahidBold/BVahidBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../fonts/BVahidBold/BVahidBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
